.about-head{
    text-align: center;
    background-color: #197ea2;
    color: white;
    padding: 6rem 0;
}

.about-head h1{
    color: #58BCEB;
    font-size: 3rem;
}

.about-head p{
    font-size: 1.5rem;
}

.about-form{
    padding: 2rem;
}

.about-form form{
    margin: 1rem auto;
    width: 35rem;
}

.about-form form input{
    width: 100%;
    padding: 0.8rem 0;
    margin-bottom: 1rem;
}

.about-form label{
    font-size: 1.1rem;
    color: rgb(121, 115, 115);
}