.file-card{
   margin-bottom: 1rem;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   transition: all 0.5s ease-out;
   -webkit-transition: all 0.5s ease-out;
   -moz-transition: all 0.5s ease-out;
   -ms-transition: all 0.5s ease-out;
   -o-transition: all 0.5s ease-out;
}

.file-card:hover{
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}



.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions-icons{
    list-style-type: none;
}

.actions-icons li{
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.ic{
    margin-right: 3rem;
}

.dot-lines{
    cursor: pointer;
    font-size: 1.3rem;
}

.all-files-icons{
    text-align: center;
}
.file-audio-icon{
    /* padding: 1rem; */
    font-size: 1.6rem;
    width: 80px;
    height: 90px;
    cursor: pointer;
    /* border: 2px solid rgb(18, 24, 203); */
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.pdf{
    color: red;
}

.audio{
    color:rgb(5, 5, 127)
}

.word{
    color: blue;
}

video{
    color: #fc7e01;
}